// Variables
:root {
  --color-primary: #3f51b5;
  --color-primary-light: #c5cae9;
  --color-primary-dark: #303f9f;

  --color-secondary: #f50057;
  --color-secondary-light: #f8bbd0;
  --color-secondary-dark: #c51162;

  --color-dark: #333;
  --color-light: #fff;
  --color-background: #f4f4f4;
  --color-background-dark: #e0e0e0;
  --color-border: #cfcfcf;
  --shadow-box: 0 2px 5px rgba(0, 0, 0, 0.1);
  --shadow-box-dark: 0 2px 5px rgba(0, 0, 0, 0.25);

  --color-hover: #aa332a;
  --color-accent: #aa332a;
  --color-accent-dark: #922b24;
  --color-dark-gray: #262221;
}

// Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-background);
  line-height: 1.6;
  font-size: 16px;
}

// Header Styles
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-dark-gray);
  color: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  box-shadow: var(--shadow-box);
  z-index: 1000;

  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;

    img {
      width: 80px;
      height: auto;
      border: 2px solid var(--color-light);
      border-radius: 50%;
    }

    span {
      font-size: 1.5rem;
      margin-left: 1rem;
      font-weight: bold;
      text-transform: uppercase;
      color: var(--color-light);
    }
  }

  nav {
    flex: 1;
    display: flex;
    justify-content: center;

    ul {
      display: flex;
      list-style: none;

      li {
        margin: 0 1rem;

        a {
          color: inherit;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: bold;

          &:hover {
            color: var(--color-accent);
          }
        }
      }
    }
  }

  .btn-group {
    display: flex;
    gap: 0.5rem;
  }

  .toggle-menu {
    background: none;
    border: none;
    display: none;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    right: 10px;
    top: 10px;

    span {
      display: block;
      width: 25px;
      height: 3px;
      background-color: var(--color-light);
      margin: 5px;
      transition: all 0.3s ease;
    }

    &.active span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }

    &.active span:nth-child(2) {
      opacity: 0;
    }

    &.active span:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -7px);
    }
  }
}

// Button Styles
.btn {
  background: none;
  color: var(--color-light);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-decoration: none;

  &.get-started-btn {
    background-color: var(--color-accent);
    padding: 1.5rem 1.5rem;
    border-radius: 5px;

    &:hover {
      background-color: var(--color-accent-dark);
    }
  }
}

// Hero Section Styles
.hero {
  position: relative;
  background: url("../images/landingPageImage.png") no-repeat center
    center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-light);
  text-align: center;
  padding: 0 1rem;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }

  .hero-content {
    position: relative;
    z-index: 2;
    max-width: 600px;

    h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
    }

    p {
      font-size: 1.25rem;
      margin-bottom: 2rem;
    }

    .get-started-btn {
      background-color: var(--color-accent);
      color: var(--color-light);
      padding: 1rem 2rem;
      border-radius: 5px;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--color-accent-dark);
      }
    }
  }
}

// Responsive Styles
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;

    nav {
      flex-direction: column;
      align-items: center;

      ul {
        flex-direction: column;
        align-items: center;
        display: none;

        &.show {
          display: block;
        }
      }
    }

    .btn-group {
      display: none;

      &.show {
        display: flex;
        flex-direction: column;
        align-items: center;

        .login-btn {
          margin-right: 30px;
        }

        .get-started-btn {
          display: none;
        }
      }
    }

    .toggle-menu {
      display: block;
    }
  }

  .hero {
    height: auto;
    padding: 2rem 1rem;

    .hero-content {
      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
      }

      .get-started-btn {
        padding: 0.75rem 1.5rem;
      }
    }
  }
}
